*{
    margin: 0;
    padding: 0;
}
.w{
    width: 1190px;
    margin: auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clear{
    clear: both;
}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?1x1j55');
    src:  url('../fonts/icomoon.eot?1x1j55#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1x1j55') format('truetype'),
    url('../fonts/icomoon.woff?1x1j55') format('woff'),
    url('../fonts/icomoon.svg?1x1j55#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
ul,li{
    list-style: none;
}
h1{
    margin: 0;
    padding: 0;
}
a{
    margin: 0;
    padding: 0;
}
h5{
    margin: 0;
    padding: 0;
}